<link
  rel="stylesheet"
  href="http://localhost:8080/EnchantedForge/CSS/ComponentStyling.css"
/>
<link
  rel="stylesheet"
  href="http://localhost:8080/EnchantedForge/CSS/FontPackages.css"
/>
<div class="footerbox">
  <br />
  <div class="menucontainer">
    <div class="footer-container">
      <div class="footerlinks">
        <div class="footer-links-container">
          <div class="linksleft">
            <ul class="footer">
              <li class="heading">Maps</li>
              <li class="footer">
                <a
                  href="https://www.patreon.com/czepeku/posts"
                  target="_blank"
                  class="ftrlink"
                  >Cze & Peku Maps</a
                >
              </li>
              <li class="footer">
                <a
                  href="https://crossheadstudios.com/usermademaps/"
                  target="_blank"
                  class="ftrlink"
                  >Crosshead Maps</a
                >
              </li>
              <li class="footer">
                <a href="https://dnd-maps.com/" target="_blank" class="ftrlink"
                  >D&D-Maps.com</a
                >
              </li>
              <li class="footer">
                <a
                  href="https://www.kassoon.com/dnd/battle-maps/"
                  target="_blank"
                  class="ftrlink"
                  >Kasson BattleMaps</a
                >
              </li>
            </ul>
          </div>
          <div class="linkscentre">
            <ul class="footer">
              <li class="heading">Shells & Generators</li>
              <li class="footer">
                <a
                  href="http://localhost:8080/LorePages/SpellPage.html"
                  class="ftrlink"
                  >Arcane Magic Shell</a
                >
              </li>
              <li class="footer">
                <a
                  href="http://localhost:8080/LorePages/DreamPage.html"
                  class="ftrlink"
                  >Dream Shell</a
                >
              </li>
              <li class="footer">
                <a
                  href="http://localhost:8080/LorePages/ItemsPage.html"
                  class="ftrlink"
                  >Magical Item Shell</a
                >
              </li>
            </ul>
          </div>
          <div class="linksright">
            <ul class="footer">
              <li class="heading">Useful Links</li>
              <li class="footer">
                <a
                  href="http://localhost:8080/LorePages/Printpage.html"
                  target="_blank"
                  class="ftrlink"
                  >Print In Map Style</a
                >
              </li>
              <li class="footer">
                <a
                  href="https://5e.tools/adventures.html"
                  target="_blank"
                  class="ftrlink"
                  >D&D Official Adventures Free</a
                >
              </li>
              <li class="footer">
                <a
                  href="https://www.reddit.com/user/Critical_Crafting/"
                  target="_blank"
                  class="ftrlink"
                  >Homebrew Items & Creatures</a
                >
              </li>
              <li class="footer">
                <a
                  href="https://www.troveoflore.com/"
                  target="_blank"
                  class="ftrlink"
                  >Trove Of Lore</a
                >
              </li>
              <li class="footer">
                <a
                  href="https://homebrewery.naturalcrit.com/user/RyanLewery"
                  target="_blank"
                  class="ftrlink"
                  >HomeBrewery</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footerlogo">
        <img
          src="http://localhost:8080/EnchantedForge/Components/Raven.png"
          width="auto"
          class="iconlogo"
        />
      </div>
    </div>
  </div>
  <br />
</div>
<div id="line" class="pinkline"></div>
<div class="footerbase">
  <br />
  <div class="menucontainer">
    <p class="footer">
      Disclaimer: the lords of the Forgotten Realms cannot be held responsible
      for the flogging, banishment, incarceration, or execution of adventurers
      who violate the code legal, nor are the lords responsible for the actions
      of beholder crime lords, unscrupulous nobles, drow swashbucklers, and evil
      clones. Also, don’t be alarmed by the colossal statues scattered
      throughout the city. They’re quite safe and haven’t gone berserk in years.
    </p>
  </div>
  <br />
</div>
