<link
  rel="stylesheet"
  href="http://localhost:8080/EnchantedForge/CSS/ComponentStyling.css"
/>
<link
  rel="stylesheet"
  href="http://localhost:8080/EnchantedForge/CSS/FontPackages.css"
/>
<!---------------------------------------->
<!--Nav Bar-->
<!---------------------------------------->
<div class="menuBackgroundColour">
  <div class="menuCoreContainer">
    <a href="http://localhost:8080"
      ><img
        src="http://localhost:8080/EnchantedForge/Components/MythicCodexLogo.png"
        width="auto"
        class="menuHomeIcon"
        alt="MythicCodexLogo"
    /></a>
    <div class="menuItemContainer">
      <!---------------------------------------->
      <div class="dropDownItem">
        <button id="myDropdown" class="dropbtn">The One Ring</button>
        <div class="dropdown-content">
          <div class="dropContainerTop"></div>
          <div class="dropContainerMiddle">
            <a href="www.google.com">Middle Earth</a>
            <div class="menudiv"></div>
            <a
              href="http://localhost:8080/LorePages/ContentViewerPage.html?Artifact=Adventure&Quest=TheOneRing&FileName=Adv_1-1"
              >Adv 1.1 A Conspiracy Most Cracked</a
            >
          </div>
          <div class="dropContainerBtm"></div>
        </div>
      </div>
      <!---------------------------------------->
      <div class="dropDownItem">
        <button id="myDropdown" class="dropbtn">The Radiant Citadel</button>
        <div class="dropdown-content">
          <div class="dropContainerTop"></div>
          <div class="dropContainerMiddle">
            <a href="www.google.com">The Radiant Citadel</a>
            <div class="menudiv"></div>
            <a
              href="http://localhost:8080/LorePages/ContentViewerPage.html?Artifact=Adventure&Quest=TheRadiantCitadel&FileName=Adv_1-1"
              >Adv 1.1 TBC</a
            >
          </div>
          <div class="dropContainerBtm"></div>
        </div>
      </div>
      <!---------------------------------------->
      <div class="dropDownItem">
        <button id="myDropdown" class="dropbtn">Gullet Cove</button>
        <div class="dropdown-content">
          <div class="dropContainerTop"></div>
          <div class="dropContainerMiddle">
            <a href="www.google.com">Faêrun</a>
            <div class="menudiv"></div>
            <a
              href="http://localhost:8080/LorePages/ContentViewerPage.html?Artifact=Adventure&Quest=TheGulletAdventures&FileName=Adv_1-1"
              >Adv 1.1 A Gullet Cove Hello</a
            >
            <div class="menudiv"></div>
            <a
              href="http://localhost:8080/LorePages/ContentViewerPage.html?Artifact=Adventure&Quest=TheGulletAdventures&FileName=Adv_2-1"
              >Adv 2.1 The Tainted Catnip</a
            >
            <a
              href="http://localhost:8080/LorePages/ContentViewerPage.html?Artifact=Adventure&Quest=TheGulletAdventures&FileName=Adv_2-2"
              >Adv 2.2 Quest For Atonement</a
            >
            <div class="menudiv"></div>
            <a
              href="http://localhost:8080/LorePages/ContentViewerPage.html?Artifact=Adventure&Quest=TheGulletAdventures&FileName=Adv_3-1"
              >Adv 3.1 The Sleep Of The Dreamless</a
            >
            <a
              href="http://localhost:8080/LorePages/ContentViewerPage.html?Artifact=Adventure&Quest=TheGulletAdventures&FileName=Adv_3-2"
              >Adv 3.2 Solstice Shenanigans</a
            >
            <div class="menudiv"></div>
            <a
              href="http://localhost:8080/LorePages/ContentViewerPage.html?Artifact=Adventure&Quest=TheGulletAdventures&FileName=Adv_4-1"
              >Adv 4.1 The Brink Of War</a
            >
            <a
              href="http://localhost:8080/LorePages/ContentViewerPage.html?Artifact=Adventure&Quest=TheGulletAdventures&FileName=Adv_4-2"
              >Adv 4.2 The Chapel Of Summoning</a
            >
            <a
              href="http://localhost:8080/LorePages/ContentViewerPage.html?Artifact=Adventure&Quest=TheGulletAdventures&FileName=Adv_4-3"
              >Adv 4.3 The Skull Square Murders</a
            >
            <a
              href="http://localhost:8080/LorePages/ContentViewerPage.html?Artifact=Adventure&Quest=TheGulletAdventures&FileName=Adv_4-4"
              >Adv 4.4 Revels End and Prisoner 13</a
            >
            <a
              href="http://localhost:8080/LorePages/ContentViewerPage.html?Artifact=Adventure&Quest=TheGulletAdventures&FileName=Adv_4-5"
              >Adv 4.5 In Scarlet Flames</a
            >
            <a
              href="http://localhost:8080/LorePages/ContentViewerPage.html?Artifact=Adventure&Quest=TheGulletAdventures&FileName=Adv_4-6"
              >Adv 4.6 Written in Blood</a
            >
            <div class="menudiv"></div>
            <a
              href="http://localhost:8080/LorePages/ContentViewerPage.html?Artifact=Adventure&Quest=TheGulletAdventures&FileName=Adv_5-1"
              >Adv 5.1 The Forge of Fury</a
            >
            <a
              href="http://localhost:8080/LorePages/ContentViewerPage.html?Artifact=Adventure&Quest=TheGulletAdventures&FileName=Adv_5-2"
              >Adv 5.2 From Cyan Depths</a
            >
          </div>
          <div class="dropContainerBtm"></div>
        </div>
      </div>
      <!---------------------------------------->
      <div class="dropDownItem">
        <button id="myDropdown" class="dropbtn">Library</button>
        <div class="dropdown-content">
          <div class="dropContainerTop"></div>
          <div class="dropContainerMiddle">
            <a href="http://localhost:8080/LorePages/CreaturePage.html"
              >Creatures, Monsters & Demons</a
            >
            <a href="http://localhost:8080/LorePages/SpellPage.html"
              >Spells, Arcana & Magic</a
            >
            <a href="http://localhost:8080/LorePages/ItemsPage.html"
              >Magical & Wonderous Items</a
            >
            <a
              href="http://localhost:8080/LorePages/ContentViewerPage.html?Artifact=Forge&FileName=GemsJewelsStones"
              >Gemstones & Jewels</a
            >
            <div class="menudiv"></div>
            <a
              href="http://localhost:8080/LorePages/ContentViewerPage.html?Artifact=Forge&FileName=CrimsonStone"
              >The Crimson Stone</a
            >
            <a
              href="http://localhost:8080/LorePages/ContentViewerPage.html?Artifact=Forge&FileName=TomeOfMispells"
              >Tome Of Mispells</a
            >
            <a
              href="http://localhost:8080/LorePages/ContentViewerPage.html?Artifact=Forge&FileName=JestersBagOfHolding"
              >Jester's Bag Of Holding</a
            >
          </div>
          <div class="dropContainerBtm"></div>
        </div>
      </div>
      <!---------------------------------------->
      <div class="dropDownItem">
        <button id="myDropdown" class="dropbtn">Rules</button>
        <div class="dropdown-content">
          <div class="dropContainerTop"></div>
          <div class="dropContainerMiddle">
            <a
              href="http://localhost:8080/LorePages/ContentViewerPage.html?Type=Ruleset&FileName=AbilityChecks"
              >Ability Checks</a
            >
            <a href="http://localhost:8080/LorePages/ContentViewerPage.html"
              >Conditions</a
            >
            <a
              href="http://localhost:8080/LorePages/ContentViewerPage.html?Type=Downtime&FileName=Downtime0Rules"
              >Adventure Downtime Rules</a
            >
          </div>
          <div class="dropContainerBtm"></div>
        </div>
      </div>
      <!---------------------------------------->
    </div>
  </div>
</div>
<div class="menuBackgroundLine"></div>
<script>
  const buttons = document.querySelectorAll(".dropbtn");
  buttons.forEach((button) => {
    button.addEventListener("click", (event) => {
      event.target.nextElementSibling.classList.toggle("show");
    });
  });
  window.onclick = function (event) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.previousElementSibling != event.target) {
        openDropdown.classList.remove("show");
      }
    }
  };
</script>
