<link
  rel="stylesheet"
  href="http://localhost:8080/EnchantedForge/CSS/AutoLoadStyling.css"
/>
<!---------------------------------------->
<!--Nav Bar-->
<!---------------------------------------->
<div class="blackbar">
  <div class="menucontainer">
    <a href="http://localhost:8080"
      ><img
        src="http://localhost:8080/EnchantedForge/ImageAssets/GeneralImages/Heart Of Winter.png"
        width="auto"
        class="menulogo"
        alt="forgottenrealmslogo"
    /></a>
    <div class="menucontainer">
      <div class="menubar">
        <!---------------------------------------->
        <div class="dropdown">
          <button id="myDropdown" class="dropbtn">Adventures</button>
          <div class="dropdown-content">
            <a
              href="http://localhost:8080/LorePages/AdventuresPage.html?Adventure=Adv_1-1"
              >Adv 1.1 A Gullet Cove Hello</a
            >
            <div class="menudiv"></div>
            <a
              href="http://localhost:8080/LorePages/AdventuresPage.html?Adventure=Adv_2-1"
              >Adv 2.1 The Tainted Catnip</a
            >
            <a
              href="http://localhost:8080/LorePages/AdventuresPage.html?Adventure=Adv_2-2"
              >Adv 2.2 Quest For Atonement</a
            >
            <div class="menudiv"></div>
            <a
              href="http://localhost:8080/LorePages/AdventuresPage.html?Adventure=Adv_3-1"
              >Adv 3.1 The Sleep Of The Dreamless</a
            >
            <a
              href="http://localhost:8080/LorePages/AdventuresPage.html?Adventure=Adv_3-2"
              >Adv 3.2 Solstice Shenanigans</a
            >
            <div class="menudiv"></div>
            <a
              href="http://localhost:8080/LorePages/AdventuresPage.html?Adventure=Adv_4-1"
              >Adv 4.1 The Brink Of War</a
            >
            <a
              href="http://localhost:8080/LorePages/AdventuresPage.html?Adventure=Adv_4-2"
              >Adv 4.2 The Chapel Of Summoning</a
            >
            <a
              href="http://localhost:8080/LorePages/AdventuresPage.html?Adventure=Adv_4-3"
              >Adv 4.3 The Skull Square Murders</a
            >
            <a
              href="http://localhost:8080/LorePages/AdventuresPage.html?Adventure=Adv_4-4"
              >Adv 4.4 Revels End and Prisoner 13</a
            >
            <a
              href="http://localhost:8080/LorePages/AdventuresPage.html?Adventure=Adv_4-5"
              >Adv 4.5 In Scarlet Flames</a
            >
            <a
              href="http://localhost:8080/LorePages/AdventuresPage.html?Adventure=Adv_4-6"
              >Adv 4.6 Written in Blood</a
            >
            <div class="menudiv"></div>
            <a
              href="http://localhost:8080/LorePages/AdventuresPage.html?Adventure=Adv_5-1"
              >Adv 5.1 The Forge of Fury</a
            >
            <a
              href="http://localhost:8080/LorePages/AdventuresPage.html?Adventure=Adv_5-2"
              >Adv 5.2 From Cyan Depths</a
            >
          </div>
        </div>
        <!---------------------------------------->
        <div class="dropdown">
          <button id="myDropdown" class="dropbtn">Game Rules</button>
          <div class="dropdown-content">
            <a
              href="http://localhost:8080/LorePages/ContentViewerPage.html?Type=Ruleset&FileName=AbilityChecks"
              >Ability Checks</a
            >
            <a
              href="http://localhost:8080/LorePages/ContentViewerPage.html?Type=Ruleset&FileName=CritsAndFails"
              >Crits & Fails</a
            >
            <a href="http://localhost:8080/LorePages/ContentViewerPage.html"
              >Conditions</a
            >
            <div class="menudiv"></div>
            <a
              href="http://localhost:8080/LorePages/ContentViewerPage.html?Type=Forge&FileName=GemsJewelsStones"
              >Gemstones & Jewels</a
            >
            <div class="menudiv"></div>
            <a
              href="http://localhost:8080/LorePages/ContentViewerPage.html?Type=Forge&FileName=CrimsonStone"
              >The Crimson Stone</a
            >
            <a
              href="http://localhost:8080/LorePages/ContentViewerPage.html?Type=Forge&FileName=TomeOfMispells"
              >Tome Of Mispells</a
            >
            <a
              href="http://localhost:8080/LorePages/ContentViewerPage.html?Type=Forge&FileName=JestersBagOfHolding"
              >Jester's Bag Of Holding</a
            >
          </div>
        </div>

        <!---------------------------------------->
        <div class="dropdown">
          <button id="myDropdown" class="dropbtn">Sources</button>
          <div class="dropdown-content">
            <a href="http://localhost:8080/LorePages/CreaturePage.html"
              >Creatures, Monsters & Demons</a
            >
            <a href="http://localhost:8080/LorePages/SpellPage.html"
              >Spells, Arcana & Magic</a
            >
            <a href="http://localhost:8080/LorePages/ItemsPage.html"
              >Magical & Wonderous Items</a
            >

            <div class="menudiv"></div>
            <a
              href="http://localhost:8080/LorePages/ContentViewerPage.html?Type=Downtime&FileName=Downtime0Rules"
              >Adventure Downtime Rules</a
            >
            <a
              href="http://localhost:8080/LorePages/ContentViewerPage.html?Type=Downtime&FileName=Downtime1"
              >Adventure Downtime (1)</a
            >
            <a
              href="http://localhost:8080/LorePages/ContentViewerPage.html?Type=Downtime&FileName=Downtime2"
              >Adventure Downtime (2)</a
            >
            <a
              href="http://localhost:8080/LorePages/ContentViewerPage.html?Type=Downtime&FileName=Downtime3"
              >Adventure Downtime (3)</a
            >
          </div>
        </div>
        <!---------------------------------------->
        <div class="dropdown">
          <button id="myDropdown" class="dropbtn">The Forgotten Realms</button>
          <div class="dropdown-content">
            <a
              href="https://www.worldanvil.com/w/faerun-tatortotzke/t/a-brief-history-timeline"
              target="_blank"
              >A History Of Faer&#251;n</a
            >
            <a
              href="http://localhost:8080/LorePages/MapPage.html?Type=MoonshaeIsles"
              >Moonshae Isles</a
            >
            <a href="http://localhost:8080/LorePages/MapPage.html?Type=District"
              >Gullet Cove District Map</a
            >
            <a href="http://localhost:8080/LorePages/MapPage.html?Type=Location"
              >Gullet Cove City Map</a
            >
            <a
              href="http://localhost:8080/LorePages/ContentViewerPage.html?Type=Faerun&FileName=RevelsEnd"
              >Revel's End</a
            >
            <a href="http://localhost:8080/LorePages/LunarCalendarPage.html"
              >The Lunar Calendar</a
            >
          </div>
        </div>
        <a
          class="stdbtn"
          href="http://localhost:8080/LorePages/BlackMarket.html"
          >Black Market</a
        >
      </div>
    </div>
  </div>
</div>
<script>
  const buttons = document.querySelectorAll(".dropbtn");
  buttons.forEach((button) => {
    button.addEventListener("click", (event) => {
      event.target.nextElementSibling.classList.toggle("show");
    });
  });
  window.onclick = function (event) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.previousElementSibling != event.target) {
        openDropdown.classList.remove("show");
      }
    }
  };
</script>
