/*-----------------------------------------------------------
Font Loaders
The list below is all the known font packaged loaded into the site
-----------------------------------------------------------*/
@font-face {
  font-family: Cinzel1;
  src: local("Cinzel1"), url("../Fonts/Cinzel-VariableFont_wght.ttf");
}
@font-face {
  font-family: CinzelDecorative;
  src: local("CinzelDecorative"), url("../Fonts/CinzelDecorative-Bold.ttf");
}
@font-face {
  font-family: MrEaves;
  src: local("Mr Eaves"), url("../Fonts/Mr\ Eaves\ Small\ Caps.otf");
}
@font-face {
  font-family: Roboto;
  src: local("Roboto Regular"), url("../Fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: Roboto-medium;
  src: local("Roboto Medium"), url("../Fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: Roboto-bold;
  src: local("Roboto Bold"), url("../Fonts/RobotoCondensed-Bold.ttf");
}
@font-face {
  font-family: Merriweather;
  src: local("Merriweather Regular"), url("../Fonts/Merriweather-Regular.ttf");
}
@font-face {
  font-family: Merriweather-light;
  src: local("Merriweather Light"), url("../Fonts/Merriweather-Light.ttf");
}
@font-face {
  font-family: Merriweather-bold;
  src: local("Merriweather Bold"), url("../Fonts/Merriweather-Bold.ttf");
}
@font-face {
  font-family: Merriweather-black;
  src: local("Merriweather black"), url("../Fonts/Merriweather-Black.ttf");
}
@font-face {
  font-family: Merriweather-Italic;
  src: local("Merriweather Italic"), url("../Fonts/Merriweather-Italic.ttf");
}
@font-face {
  font-family: Merriweather-BlackItalic;
  src: local("Merriweather Black Italic"),
    url("../Fonts/Merriweather-BlackItalic.ttf");
}
@font-face {
  font-family: Merriweather-BoldItalic;
  src: local("Merriweather BoldItalic"),
    url("../Fonts/Merriweather-BoldItalic.ttf");
}
@font-face {
  font-family: RuneD;
  src: local("RuneD"), url("../Fonts/RUNE_D.TTF");
}
/*-----------------------------------------------------------
Core Components
These are the main components which power the entire site
-----------------------------------------------------------*/
html {
  background: #14171b;
  height: 100%;
  width: 100%;
  margin: 0;
  background-image: url(../ImageAssets/BackgroundParchment/background_texture.png);
  background-position: top;
  background-repeat: repeat;
  padding: 0;
}
.content-container {
  display: flex;
  flex-direction: column;
  width: 1400px;
  height: fit-content;
  margin: 0 auto 0;
  align-items: center;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}
.TopMargin {
  margin-top: 17px;
}
.BottomMargin {
  margin-bottom: 5px;
}
.hidden {
  visibility: hidden;
  width: auto;
  height: 0px;
  vertical-align: middle;
}
a:link {
  text-decoration: none;
}
/*---MAP CORNERS---*/
.corner-decoration {
  position: absolute;
  width: 4em;
  margin: 2px;
  background-color: transparent;
}
.corner-left-top {
  left: 0;
  top: 0;
}
.corner-right-top {
  top: 0;
  right: 0;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.corner-right-bottom {
  right: 0;
  bottom: 0;
  -webkit-transform: scale(-1);
  transform: scale(-1);
}
.corner-left-bottom {
  left: 0;
  bottom: 0;
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}
/*---LIST ITEMS---*/
ul {
  color: #000;
  margin: 0;
  text-align: left;
  font-family: roboto;
  font-size: 1rem;
  margin-bottom: 8px;
}
li {
  color: #000;
  margin: 0 auto;
  text-align: left;
  align-items: left;
  font-family: roboto;
  font-size: 1rem;
  margin-bottom: 8px;
}
/*-------------------
Custom Shells Core Assets
--------------------------*/
table {
  width: 100%;
  margin-bottom: 25px;
  margin-top: 0px;
  height: 25px;
  overflow-y: auto;
  table-layout: fixed;
  font-family: roboto;
  font-size: 0.9rem;
  border: 1px solid #eceae8;
  border-collapse: collapse;
}
thead {
  border-bottom: 3px solid #d0cac5;
}
.fixedHead {
  position: sticky;
  top: 0;
  z-index: 1;
}
tbody {
  text-align: left;
  padding: 5px 10px;
  min-width: 50px;
}
th {
  background-color: #fff;
  font-family: Roboto-bold;
  border: 1px solid #eceae8;
  border-collapse: collapse;
  text-align: left;
  padding: 5px 10px;
  min-width: 50px;
}
td {
  padding: 3px 10px;
  font-family: roboto;
  font-size: 0.9rem;
  border: 1px solid #eceae8;
  border-collapse: collapse;
}
tr:nth-child(even) {
  background-color: #f1f4f1;
}
tr:nth-child(odd) {
  background-color: #e5e5e5;
}
.ListIcon {
  width: 45px;
  height: 45px;
  object-fit: cover;
  object-position: top;
}
h1.HeadEncrypt {
  font-family: RuneD;
  text-align: left;
  margin: 0;
  font-size: 1.8rem;
  display: inline-block;
  color: #000000;
  padding-top: 0;
  text-transform: lowercase;
}
.encryptBold {
  font-family: RuneD;
  font-size: 1rem;
  font-weight: 700;
  text-transform: lowercase;
  display: flex;
}
.encrypt {
  font-family: RuneD;
  font-size: 0.8rem;
  text-transform: lowercase;
}
/*---CONTAINER---*/
.photo {
  display: flex;
  justify-content: center;
  align-content: center;
}
/*---IWD SHELL---*/
.listTop {
  background-image: url(../ImageAssets/ListFrame/gui_window-top.png);
  height: 78px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.listDsc {
  padding: 18px 0px 0px 24px;
  font-weight: normal;
  font-size: 26px;
  margin: 0px;
  color: #ffffff;
  font-family: PostAntiquaRoman, Palatino, serif;
  text-shadow: 1px 1px #1f3528;
}
.listMiddle {
  min-height: 220;
  font-weight: bold;
  color: #f1f1f1;
  padding: 0px 25px 10px 25px;
  background-image: url(../ImageAssets/ListFrame/gui_window-middle.png);
  background-repeat: repeat-y;
  background-size: 100%;
}
.listBtm {
  height: 42px;
  background-image: url(../ImageAssets/ListFrame/gui_window-bottom.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 8px;
}
.whitecontainer {
  background-image: url(../ImageAssets/ListFrame/gui_bkg.png);
  width: 625px;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.5));
  border-radius: 5px;
}
.collapsible {
  padding: 18px 0px 0px 24px;
  font-weight: normal;
  font-size: 26px;
  margin: 0px;
  color: #ffffff;
  font-family: PostAntiquaRoman, Palatino, serif;
  text-shadow: 1px 1px #1f3528;
  border: none;
  outline: none;
  background: rgba(76, 175, 80, 0);
}
.collapsible:hover {
  color: #06885d;
}
.collapsible::after {
  align-items: center;
  justify-items: center;
  content: "\25Ec";
  transform: rotate(180deg);
  display: inline-block;
  vertical-align: middle;
  font-size: 19px;
  margin-left: 4px;
  margin-right: 7px;
  margin-top: 2px;
}
.active::after {
  content: "\25Ec";
  transform: rotate(0deg);
  margin-left: 4px;
  margin-right: 7px;
  margin-top: -3px;
}
.content {
  padding: 0;
  display: none;
  overflow: hidden;
}
/*---IWD SHELL---*/
.tri-container {
  display: grid;
  width: 100%;
  column-gap: 0.2%;
  grid-auto-flow: row;
  justify-content: space-evenly;
  align-content: space-evenly;
  grid-template-columns: auto;
  grid-template-columns: 33% 33% 33%;
  grid-template-areas: "Col1 Col2 Col3";
}
.split-container {
  width: 100%;
  justify-content: space-evenly;
  align-content: space-evenly;
  column-gap: 1.5%;
  grid-auto-flow: row;
  display: grid;
  text-align: left;
  align-items: Left;
  grid-template-columns: repeat(6, 1fr);
}
.twofoursplit:nth-child(n) {
  grid-column: span 2;
}
.twofoursplit:nth-child(n + 2) {
  grid-column: span 4;
}
.oneonefoursplit:nth-child(n) {
  grid-column: span 1;
}
.oneonefoursplit:nth-child(n + 3) {
  grid-column: span 4;
}
.fouronesplit:nth-child(n) {
  grid-column: span 5;
}
.fouronesplit:nth-child(n + 2) {
  grid-column: span 1;
}
/*---BUTTONS---*/
.options {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
.submititem,
.submitcreature,
.submitspell {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  outline: 0;
  border: 0;
  margin: 0 15px 0;
  vertical-align: middle;
  letter-spacing: 2.26px;
  font-family: Tiamat-Text;
  text-transform: uppercase;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  font-size: 16px;
  padding: 14px 30px;
  width: auto;
  z-index: 1;
  border-radius: 0;
  font-weight: 700;
  color: #fff;
  min-width: 175px;
  position: relative;
  overflow: visible;
  background-size: cover;
  background-repeat: no-repeat;
}
.submititem::after,
.submitcreature::after,
.submitspell::after {
  content: "";
  background-image: url(../ImageAssets/GeneralImages/goldButton.png);
  background-size: 100% 100%;
  display: block;
  position: absolute;
  top: -4px;
  left: -4px;
  height: calc(100% + 8px);
  width: calc(100% + 8px);
}
.unidentified {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  outline: 0;
  border: 0;
  margin: -8px 15px 0;
  vertical-align: middle;
  letter-spacing: 2.26px;
  font-family: Tiamat-Text;
  text-transform: uppercase;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  font-size: 16px;
  padding: 8px 10px;
  width: auto;
  z-index: 1;
  border-radius: 0;
  font-weight: 700;
  color: #fff;
  min-width: 175px;
  position: relative;
  overflow: visible;
  background-size: cover;
  background-repeat: no-repeat;
}
.unidentified::after {
  content: "";
  background-image: url(../ImageAssets/GeneralImages/goldButton.png);
  background-size: 100% 100%;
  display: block;
  position: absolute;
  top: -4px;
  left: -4px;
  height: calc(100% + 8px);
  width: calc(100% + 8px);
}
/*---INPUTS---*/
.whiteInput[type="text"] {
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #d4d4d4;
  height: 25px;
  margin-bottom: 5px;
  background: none;
  color: #000;
}
label {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: #f7f2e9;
  font-size: 1rem;
}
input[type="checkbox"] {
  float: right;
}
input[type="text"] {
  border-left: 1px solid #aeab79;
  border-top: 1px solid #aeab79;
  border-right: 1px solid #eff2ae;
  border-bottom: 1px solid #eff2ae;
  color: #e3e0a6;
  font-weight: normal;
  background-color: #191812;
  background: url(../ImageAssets/ListFrame/input-textbox2.png);
  background-position: left top;
  background-repeat: no-repeat;
  width: 95%;
  height: 25px;
  margin-bottom: 5px;
  padding: auto;
}
input[type="number"] {
  border-left: 1px solid #aeab79;
  border-top: 1px solid #aeab79;
  border-right: 1px solid #eff2ae;
  border-bottom: 1px solid #eff2ae;
  color: #e3e0a6;
  font-weight: normal;
  background-color: #191812;
  background: url(../ImageAssets/ListFrame/input-textbox2.png);
  background-position: left top;
  background-repeat: no-repeat;
  width: 95%;
  height: 25px;
  margin-bottom: 5px;
  padding: auto;
}
textarea {
  border-left: 1px solid #aeab79;
  border-top: 1px solid #aeab79;
  border-right: 1px solid #eff2ae;
  border-bottom: 1px solid #eff2ae;
  color: #e3e0a6;
  font-weight: normal;
  background-color: #191812;
  background: url(../ImageAssets/ListFrame/input-textbox2.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: auto 100%;
  width: 95%;
  height: 75px;
  margin-bottom: 5px;
  padding: auto;
}
.inputlist {
  border-left: 1px solid #aeab79;
  border-top: 1px solid #aeab79;
  border-right: 1px solid #eff2ae;
  border-bottom: 1px solid #eff2ae;
  color: #e3e0a6;
  font-weight: normal;
  background-color: #191812;
  background: url(../ImageAssets/ListFrame/input-textbox2.png);
  background-position: left top;
  background-repeat: no-repeat;
  width: 95%;
  height: 25px;
  margin-bottom: 5px;
  padding: auto;
}
.listbox {
  width: 250px;
}
.quotetick {
  float: right;
}
.quotetext {
  text-align: center;
  font-style: italic;
  font-size: 1.05rem;
}
/*---TEXT---*/
.capitalize {
  text-transform: capitalize;
}
.italic {
  font-style: italic;
}
p {
  margin: 0;
}
.source {
  font-size: 1.3rem;
  font-family: "Times New Roman", Times, serif;
  display: inline-flex;
}
.pageno {
  font-size: 0.7rem;
  margin-left: 1px;
  display: inline-flex;
}
/*-----------------------------------------------------------
Homepage (Index)
These are the elements used and needed on the Index (Homepage)
-----------------------------------------------------------*/
.masthead {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: block;
  display: flex;
  align-items: center;
  justify-items: center;
  margin: 0 auto -1px;
  object-fit: cover;
  object-position: 0 60%;
  height: 450px;
}
.menuitem-shadow {
  filter: drop-shadow(0 8px 12px rgba(0, 0, 0, 0.5));
}
.menuitem-container {
  width: 100%;
  justify-content: space-evenly;
  align-content: space-evenly;
  column-gap: 1.5%;
  grid-auto-flow: row;
  display: grid;
  text-align: center;
  align-items: center;
  grid-template-columns: repeat(6, 1fr);
}
.menuitem {
  background-color: #fff;
  position: relative;
  width: 100%;
  margin: 0 0 25px;
  padding: 0;
  display: flex;
  clip-path: polygon(100%0, 100% 93%, 93% 100%, 0 100%, 0 0);
}
.menuitem:nth-child(-n + 2) {
  grid-column: span 3;
  height: 420px;
  width: auto;
}
.menuitem:nth-child(n + 3) {
  grid-column: span 2;
  height: 325px;
}
.menuitemimage {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 55%;
  object-fit: cover;
}
h1.menu {
  margin-top: 0;
  font-family: bold;
  font-size: 1.75rem;
  font-family: roboto-bold;
  color: #000;
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
}
p.menu {
  margin-top: -10px;
  font-family: roboto;
  font-size: 1rem;
  color: #000;
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
}
p.readme {
  align-items: center;
  position: absolute;
  bottom: 10px;
  display: flexbox;
  text-align: left;
  margin: 0 10px 0px;
  font-size: 1.1rem;
  vertical-align: bottom;
  font-family: roboto-bold;
  text-transform: capitalize;
  font-variant: small-caps;
  color: #155305;
}
/*-----------------------------------------------------------
Adventure Page (DM Notes) & Content Viewer Page
These are the elements used and needed on the Adventure Pages
-----------------------------------------------------------*/
.document-container {
  display: grid;
  width: 100%;
  justify-content: space-evenly;
  align-content: space-evenly;
  column-gap: 15px;
  grid-auto-flow: row;
  grid-template-columns: 250px 1150px;
  grid-template-areas: "secondary-content primary-content";
}
.Adv {
  width: 975px;
  margin: auto;
}
/*-----------------------------------------------------------
Crit & Fail Page
These are the elements used and needed on the Crit & Fail Pages
-----------------------------------------------------------*/
/***************************************************************************************/
/*-----------------------------------------------------------
Dream Page
These are the elements used and needed on the Dream Page
-----------------------------------------------------------*/
/***************************************************************************************/
/*-----------------------------------------------------------
Items Page
These are the elements used and needed on the Items Page
-----------------------------------------------------------*/
.list-container {
  display: grid;
  width: 100%;
  column-gap: 0.2%;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  grid-template-columns: 50% 627px;
  column-gap: 2%;
  grid-template-areas: "List View";
}
h1.listname {
  text-align: left;
  margin: 0;
  font-size: 1.4rem;
}
.ItemContainer {
  width: 625px;
  height: 100%;
  background: linear-gradient(
      rgba(220, 220, 210, 0.5),
      rgba(220, 220, 210, 0.5)
    ),
    url(../ImageAssets/BackgroundParchment/ice_background_base.png);
  align-items: center;
  display: block;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  border: solid 1px rgb(227, 227, 227);
  margin: auto;
}
.ItemParchement {
  background-image: url(../ImageAssets/BackgroundParchment/TornParchment.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: middle;
}
.itemBorder {
  position: relative;
  margin: 5px;
  padding: 20px;
  border: solid;
  border-width: 3px;
  border-color: #000000;
}
.item-decoration {
  position: absolute;
  width: 3.1em;
  margin: -4px;
  background-color: transparent;
}
.WaterColour {
  margin: auto;
  background: url(../ImageAssets/ListFrame/watercolour1.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 150px;
  height: 100%;
  display: flex;
  justify-content: center;
}
.ItemImage {
  margin: auto;
  display: flex;
  align-self: center;
  width: auto;
  height: 150px;
  border-color: #000;
  border-width: 2px;
  background-blend-mode: multiply;
}
.hcentre {
  justify-content: center;
  margin: auto;
  display: flex;
}
h1.itemname {
  font-family: CinzelDecorative;
  justify-content: center;
  text-align: center;
  margin: 0;
  font-size: 1.8rem;
  display: inline-block;
  color: #000000;
  padding-top: 0;
}
.attuneicon {
  width: auto;
  height: 20px;
  vertical-align: middle;
  display: inline-block;
  margin-bottom: 8px;
  margin-left: 8px;
  margin-top: 8px;
}
.blackDIV {
  margin: 0 auto 8px;
  height: 2px;
  width: 570px;
  background-color: #000000;
  align-items: center;
}
h2.itemSub {
  font-family: MrEaves;
  display: flex;
  justify-content: center;
  margin: 0 auto 5px;
  font-size: 1.2rem;
  text-transform: capitalize;
}
p.itemBody {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  text-align: center;
}
p.itemBold {
  font-family: MrEaves;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  text-align: center;
}
.charges {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: MrEaves;
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: capitalize;
  max-width: 54ch;
  margin: auto;
}
.submititem {
  background-image: url(../ImageAssets/GeneralImages/itemMarble.jpeg);
}
.submititem:hover {
  background-image: url(../ImageAssets/GeneralImages/GeneratorBorderItem.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.45s;
}
/*-----------------------------------------------------------
Creature Page
These are the elements used and needed on the Creature Page
-----------------------------------------------------------*/
.CreatureList-container {
  display: grid;
  width: 100%;
  column-gap: 0.2%;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  grid-template-columns: 45% 65%;
  column-gap: 2%;
  grid-template-areas: "List View";
}
.creatureform {
  margin-left: 142px;
  margin-right: 142px;
  display: block;
}
.CreatureContainer {
  width: 100%;
  height: 100%;
  background: url(../ImageAssets/BackgroundParchment/sword_meow_background_base.png);
  align-items: center;
  display: block;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  border: solid 1px rgb(227, 227, 227);
  margin: auto;
}
.RainBorder {
  width: 900px;
  height: auto;
  padding: 10px;
  background: url(../ImageAssets/GeneralImages/CreatureBorder.jpg) repeat;
  box-sizing: border-box;
  border: #00507a 1px solid;
}
.creatureBorder {
  margin: 5px;
  padding: 20px;
  border: solid;
  border-width: 2px;
  border-color: #00507a;
  position: relative;
}
.HPAC {
  display: grid;
  width: 100%;
  column-gap: 0.2%;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  grid-template-columns: 50% 50%;
  column-gap: 2%;
  grid-template-areas: "HP AC";
}
.HP {
  justify-content: left;
  display: flex;
}
.AC {
  justify-content: right;
  display: flex;
}
.HitPointBox {
  width: 50px;
  margin-top: -20px;
  margin-left: 60px;
  margin-bottom: -60px;
  padding: 2px;
}
.ACBox {
  width: 50px;
  margin-top: -20px;
  margin-right: 60px;
  margin-bottom: -60px;
  padding: 2px;
}
h1.hp,
h1.ac {
  margin: 3px auto 0px;
  font-size: 1.1rem;
  font-family: Merriweather;
  display: flex;
  justify-content: center;
}
h1.hp-out,
h1.ac-out {
  font-size: 2.3rem;
  font-family: Merriweather;
  display: flex;
  justify-content: center;
  margin-top: 1px;
  margin-bottom: -5px;
}
h1.cName {
  font-family: CinzelDecorative;
  justify-content: center;
  text-align: center;
  margin: 0px auto;
  font-size: 1.8rem;
  display: flex;
  color: #000000;
  padding-top: 0;
}
.DetailsImage {
  display: grid;
  width: 100%;
  column-gap: 0.2%;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  grid-template-columns: 65% 35%;
  column-gap: 2%;
  grid-template-areas: "CDesc CImage";
}
.CreatureSub {
  margin: -4px auto 5px;
  display: flex;
  justify-content: center;
}
.underline {
  z-index: 5;
  display: flex;
  justify-content: center;
  background-color: #7606d1;
  margin: 0px auto 9px;
  height: auto;
  width: 55%;
  align-items: center;
  border-bottom: 2px solid #7606d1;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}
.lineBreak {
  background-color: #7606d1;
  margin: 9px 0px 6px;
  height: auto;
  width: 50%;
  border-bottom: 2px solid #7606d1;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}
.bodyContainer {
  width: 100%;
  margin: 0 auto;
}
.CreatureToken {
  float: right;
  margin-top: -30px;
  margin-right: -20px;
  max-width: 359px;
  /* max-height: 600px;
object-fit: contain;*/
}
.creatureBold {
  font-family: Merriweather-black;
  font-size: 0.8rem;
  text-transform: capitalize;
  color: #000000;
}
.creatureBoldItalic {
  font-family: Merriweather-BlackItalic;
  font-size: 0.8rem;
  text-transform: capitalize;
  color: #7606d1;
}
.creatureBody {
  font-size: 0.8rem;
  font-family: Merriweather;
}
.creatureBodyItalic {
  font-size: 0.8rem;
  font-family: Merriweather-BoldItalic;
  color: #7606d1;
}
.stat-container {
  margin: auto;
  align-content: center;
  margin-bottom: 8px;
  display: grid;
  width: 100%;
  column-gap: 0.2%;
  grid-auto-flow: row;
  justify-content: space-evenly;
  align-content: space-evenly;
  grid-template-columns: auto;
  grid-template-areas: "STR DEX CON INT WIS CHA" "STRn DEXn CONn INTn WISn CHAn";
}
.CHAn,
.CONn,
.DEXn,
.INTn,
.STRn,
.WISn {
  align-items: center;
  margin: auto;
  color: #7606d1;
  font-weight: 700;
  font-size: 0.9rem;
}
.CHA,
.CON,
.DEX,
.INT,
.STR,
.WIS {
  font-weight: 700;
  align-items: center;
  margin: auto;
  font-size: 0.9rem;
}
/*----*/
.RainbowBorder {
  justify-content: center;
  height: 8px;
  width: 626px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: block;
  margin: 0 -4px;
  border: 2px solid #4d4d4d;
  background-image: url(../ImageAssets/GeneralImages/CreatureBorder.jpg);
}
.Creature-container {
  display: grid;
  width: 100%;
  column-gap: 5px;
  grid-auto-flow: row;
  grid-template-columns: 78% 19%;
  grid-template-areas: "CreatureName CreatureToken";
}
.CreatureIcon {
  margin: auto;
  width: 125px;
  height: 125px;
}
.FrameOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
p.index {
  text-align: left;
  font-size: 1rem;
  margin: 5px auto 5px;
}
.margin {
  padding-top: 10px;
}
h1.indexheading {
  text-align: left;
  margin: 2px auto 6px;
  font-size: 1.25rem;
  padding-top: 1%;
  color: #7606d1;
  font-family: CinzelDecorative;
}
.submitcreature {
  background-image: url(../ImageAssets/GeneralImages/creatureMarble.jpeg);
}
.submitcreature:hover {
  background-image: url(../ImageAssets/GeneralImages/GeneratorBorderMonster.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.45s;
}
/*-----------------------------------------------------------
Spells Page
These are the elements used and needed on the Spells Page
-----------------------------------------------------------*/
.SpellContainer {
  width: 625px;
  height: 100%;
  background: url(../ImageAssets/BackgroundParchment/phb_background_base.png);
  align-items: center;
  display: block;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  border: solid 1px rgb(227, 227, 227);
  margin: auto;
}
.spellBorder {
  margin: 5px;
  padding: 20px;
  border: solid;
  border-width: 2px;
  border-color: #b08f26;
}
h1.spellname {
  font-family: CinzelDecorative;
  text-align: left;
  margin: 0;
  font-size: 1.8rem;
  display: inline-block;
  color: #000000;
  padding-top: 0;
}
.conicon {
  width: auto;
  height: 20px;
  vertical-align: middle;
  display: inline-block;
  margin-bottom: 8px;
  margin-left: 3px;
  justify-content: right;
}
.icon {
  width: auto;
  height: 20px;
  vertical-align: middle;
  margin-bottom: 3px;
}
.spell-container {
  display: grid;
  width: 100%;
  column-gap: 0.2%;
  grid-auto-flow: row;
  grid-template-columns: 80% 18%;
  grid-template-areas: "Desc Image";
}
h2.spelltype {
  text-align: left;
  font-size: 1rem;
  font-style: italic;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  font-family: Garamond, serif;
}
.bold {
  font-weight: 700;
}
.standard {
  font-size: 0.85rem;
  text-align: left;
  padding-bottom: 0;
}
.icon {
  width: auto;
  height: 20px;
  vertical-align: middle;
  margin-bottom: 3px;
}
.SpellImage {
  mix-blend-mode: multiply;
  width: auto;
  height: 100px;
  border: solid 2px #c5ab73;
}
p.spellBody {
  /*font-size: 1rem;*/
  display: flex;
}
p.spellBold {
  font-family: MrEaves;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: capitalize;
  display: flex;
}
.listPoint {
  margin-left: 8px;
}
.listPoint::before {
  content: "\2022";
  margin-right: 8px;
}
.item-container {
  display: grid;
  width: 100%;
  column-gap: 0.2%;
  grid-auto-flow: row;
  grid-template-columns: 74% 24%;
  grid-template-areas: "heading sourcegraphic";
}
.sourcegraphic {
  align-items: right;
  justify-content: right;
  text-align: right;
}
.cClass {
  padding: 0;
  background: linear-gradient(to bottom right, #2980b9, #2c3e50);
  color: #fff;
  vertical-align: middle;
}
.submitspell,
.unidentified {
  background-image: url(../ImageAssets/GeneralImages/spellMarble.jpeg);
}
.submitspell:hover,
.unidentified:hover {
  background-image: url(../ImageAssets/GeneralImages/GeneratorBorderSpell.avif);
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.45s;
}
/*--------------------------------------------------------
Black Market
-----------------------------------------------------------*/
.ListCost {
  color: #b49220;
  font-weight: bold;
}
.shop-container {
  display: grid;
  width: 100%;
  column-gap: 0.2%;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  grid-template-columns: 30% 800px;
  column-gap: 2%;
  grid-template-areas: "inventory viewitem";
}
.MarketContainer {
  background-image: url(../ImageAssets/GeneralImages/ShopPage.png);
  background-size: cover;
  width: 800px;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.5));
  border-radius: 5px;
  height: 658px;
  z-index: 9999;
}
.stickyFrame {
  position: fixed;
  top: 0;
}
.BMIcon {
  display: flex;
  align-self: center;
  margin: 42px auto;
  max-height: 50px;
}
.BMName {
  font-family: CinzelDecorative;
  font-size: 1.5rem;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 70px auto 15px;
}
.details-container {
  display: grid;
  width: 650px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  grid-template-columns: 40% 50%;
  column-gap: 5%;
  grid-template-areas: "BMImage BMDesc";
  margin: 10px auto 65px;
}
.BMimage {
  display: block;
  text-align: center;
}
.BMDesc {
  font-size: 1.2rem;
}
.BMMainImage {
  display: flex;
  max-height: 225px;
  margin: auto;
}
.BMButtons {
  display: grid;
  width: 260px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  grid-template-columns: 50% 50%;
  column-gap: 5%;
  grid-template-areas: "BMCost BMBuy";
  margin: auto;
}
.BMCost {
  color: #eac345;
  font-size: 2rem;
  margin-top: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.BMBuy {
  margin-top: 9px;
  margin-left: -7px;
}
.BuyButton {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  outline: 0;
  border: 0;
  margin: 0 15px 0;
  vertical-align: middle;
  letter-spacing: 2.26px;
  font-family: Tiamat-Text;
  text-transform: uppercase;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  font-size: 16px;
  padding: 14px 30px;
  width: auto;
  z-index: 1;
  border-radius: 0;
  font-weight: 700;
  color: #fff;
  min-width: 170px;
  position: relative;
  overflow: visible;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../ImageAssets/GeneralImages/LeatherTexture.avif);
}
.BuyButton::after {
  content: "";
  background-image: url(../ImageAssets/GeneralImages/goldButton.png);
  background-size: 100% 100%;
  display: block;
  position: absolute;
  top: -4px;
  left: -4px;
  height: calc(100% + 8px);
  width: calc(100% + 8px);
}
.BuyButton:hover {
  background-image: url(../ImageAssets/GeneralImages/GeneratorBorderShop.webp);
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.45s;
}
/*--------------------------------------------------------
Map Page & Print Page These are the elements used and needed on the Map Page & Print Page
-----------------------------------------------------------*/
.Map {
  width: 1250px;
}
.Parchment {
  background-image: url(../ImageAssets/BackgroundParchment/MapParchment.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}
.MapBorder {
  position: relative;
  border: 2px solid #000000;
  height: fit-content;
  width: fit-content;
  margin: auto;
}
.mapstyle {
  display: block;
  width: 1229px;
  height: 100%;
  margin: 5px;
  align-items: center;
  justify-items: center;
  border: 4px solid #000000;
  position: relative;
}
.mapstyle img {
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-mask-image: radial-gradient(
    circle at center,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0) 95%
  );
  mask-image: radial-gradient(
    circle at center,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0) 95%
  );
}
p.caption {
  font-family: roboto-medium;
  font-weight: 800;
  text-align: center;
  font-style: italic;
}
