.mapstyle {
  display: block;
  width: 2500;
  height: 100%;
  margin: 5px;
  align-items: center;
  justify-items: center;
  border: 4px solid #000000;
  position: relative;
}
.mapstyle img {
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-mask-image: radial-gradient(
    circle at center,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0) 95%
  );
  mask-image: radial-gradient(
    circle at center,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0) 95%
  );
}
.Map {
  width: 2500px;
}
.Parchment {
  background-image: url(../ImageAssets/BackgroundParchment/MapParchment.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 2530px;
  padding: 20px;
  margin: auto;
}
.MapBorder {
  position: relative;
  border: 2px solid #000000;
  height: fit-content;
  width: fit-content;
  margin: auto;
}
.corner-decoration {
  position: absolute;
  width: 4em;
  margin: 2px;
  background-color: transparent;
}
.corner-left-top {
  left: 0;
  top: 0;
}
.corner-right-top {
  top: 0;
  right: 0;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.corner-right-bottom {
  right: 0;
  bottom: 0;
  -webkit-transform: scale(-1);
  transform: scale(-1);
}
.corner-left-bottom {
  left: 0;
  bottom: 0;
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}
.hidden {
  visibility: hidden;
  width: auto;
  height: 2px;
  vertical-align: middle;
}
